<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <table class="table">
            <thead>
                <th>Nombre</th>
                <th>Email</th>
                <th>Numero</th>
            <tbody>
                <% clientes.forEach(function(clientes){ %>
                <tr>
                    <td><%= clientes.nombre %></td>
                    <td><%= clientes.email %></td>
                    <td><%= clientes.telefono %></td>
                </tr>
                <%})%>
            </tbody>
            </table>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>
